@import "./commons.css";

body {
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
  font-family: Montserrat, sans-serif;
  font-weight: normal;
  scroll-behavior: smooth;
  background-color: #323233;
  padding: 1ch;
  color: #EFEFEF;
  margin: 0;
  gap: 1ch;
  height: calc(100vh - 2ch);
}
body > * {
  background-color: #424242;
  padding: 1ch;
  border-radius: 2.5ch;
}
body > header {
  grid-column: 1 / 4;
}
body > nav {
  grid-column: 1 / 2;
}
body > main {
  grid-column: 2 / 3;
  padding: 2ch;
}
body > aside {
  grid-column: 3 / 4;
}
body > footer {
  grid-column: 1 / 4;
}
body > *:not(#task-indicators) > * {
  display: block;
}

h1, h2, footer p {
  margin: 0;
}

a {
  color: lightblue;
}
button {
  background: none;
  border: none;
  color: #efefef;
  border: .32ch solid #afafaf;
  border-radius: 2ch;
  width: 100%;
  padding: 1ch;
  background-color: #575757;
}
button + button {
  margin-top: 1ch;
}

#task-indicators {
  background-color: #757575;
  filter: drop-shadow(0 0 1.5ch #252525)
}
