* {
  margin: 0;
  padding: 0;
}

body {
  padding: 5rem 10rem;
  background-color: #ffbe98;
}

.imgGallery {
  display: flex;
}

.imgGallery+.imgGallery {
  margin-top: 10em;
}

.imgGallery>.imgContainer {
  flex-basis: 350px;
  height: 200px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
}

.imgGallery .imgContainer img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-radius: 5px;
}

#gallery1 {
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#loadContent {
  font-size: x-large;
  color: white;
  background-color: black;
}

.highlighted-row {
  font-weight: bold;
  font-size: 1em;
  background-color: #FFF;
  cursor: pointer;
  transition: all 0.3 ease;
}

.highlighted-row:hover {
  background-color: aqua;
  font-size: 1.1em;
}

#storeTable td {
  width: 400;
}
#storeTable th {
  font-size: x-large;
}

#productTable td {
  width: 400;
}
#productTable th {
  font-size: x-large;
}

#companyTable td {
  width: 400;
}
#companyTable th {
  font-size: x-large;
}

#articleTable td {
  width: 400;
}
#articleTable th {
  font-size: x-large;
}

.page{
  color:black;
  background-color: #ff7f50;
  border: 2px solid #00509e;
  height: 30px;
  width: 80px;
  font-weight: bold;
  cursor: pointer;
}
.page:hover{
  background-color: aqua;
}
#PageNumber{
  background-color: #ffbe98;
  font-weight: bold;
}
.page.disabled{
  background-color: #ccc;
  cursor: not-allowed;
}
.back{
  color:black;
  background-color: #ff7f50;
  font-weight: bold;
  height: 30px;
  width: 80px;
  border: 2px solid #b00;
  cursor: pointer;
}
.back:hover{
  background-color: rgb(253, 12, 12);
  color:white;
}
.row1{
  font-size: x-large;
}
.row2{
  font-size: larger;
}
.row3{
  font-size: large;
}
.eintrag{
  background-color: white;
  font-weight: bold;
}
#formTable{
 background-color: #fa7342;
}
#infoTables{
  background-color: #fa7342;
}
#infoTables td{
  padding: 5px;
}
#infoTables th{
  padding: 5px;
}

#preise th#geschaefte{
  width: 300px;
}
#preise th#preis{
  width: 60px;
}
#preise tr{
  font-weight: bold;
  font-size: 1em;
  background-color: #FFF;
}
#preise th{
  font-size: x-large;
  background-color: #ffbe98;
}

#receiptTable th#geschaefte{
  width: 300px;
}
#receiptTable #anzahl{
  width: 40px;
}
#receiptTable #preis{
  width: 70px;
}
#receiptTable #uhrzeit{
  width: 230px;
}
#receiptTable #product{
  width: 160px;
}
#receiptTable th{
  font-size: x-large;
}
#receiptbtn{
  color:black;
  background-color: #ff7f50;
  border: 2px solid #00509e;
  height: 30px;
  width: 250px;
  font-weight: bold;
  cursor: pointer;
}
#receiptbtn:hover{
  background-color: aqua;
}
#suchButton{
  color:black;
  background-color: #ff7f50;
  border: 2px solid #00509e;
  height: 30px;
  width: 80px;
  font-weight: bold;
  cursor: pointer;
}
#suchButton:hover{
  background-color: aqua;
}
#sucheInput{
  width: 300px;
}

.clearButton{
  color:black;
  background-color: #ff7f50;
  font-weight: bold;
  height: 30px;
  width: 80px;
  border: 2px solid #b00;
  cursor: pointer;
}
.clearButton:hover{
  background-color: rgb(253, 12, 12);
  color:white;
}
.clearButton.disabled{
  background-color: #ccc;
  cursor: not-allowed;
  color:black;
}